tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) { 
    background : blue; 
}
tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) { 
    background : red; 
}
