tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) { 
    background : yellow; 
}
tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) { 
    background : red; 
}

td 
{
 height : 20%;
 width : 10%;
 padding : 10px;
}
